<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StaffReg</servlet-name>
    <servlet-class>StaffReg</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StaffReg</servlet-name>
    <url-pattern>/StaffReg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StaffRegError</servlet-name>
    <servlet-class>StaffRegError</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StaffRegError</servlet-name>
    <url-pattern>/StaffRegError</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StaffEdit</servlet-name>
    <servlet-class>StaffEdit</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StaffEdit</servlet-name>
    <url-pattern>/StaffEdit</url-pattern>
  </servlet-mapping>
  
</web-app>